<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>

<body>
    <h3>Ana sayfa</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque modi, deserunt, facere, eaque saepe voluptatem
        accusamus dolorem facilis nobis minima eius corrupti illum doloribus cum nihil vel et sunt molestias!</p>
</body>

</html>